@use './../utils' as *;

html.is-active {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: $header-bg;
  padding-bottom: rem(20px);
  padding-top: rem(20px);
  @include font-16px-B;

  .logo {
    @include flexbox($justify: center);
    text-align: center;
  }

  .login,
  .signup {
    display: inline;
  }

  .login,
  .signup {
    img {
      display: none;
    }
  }

  .member-service {
    display: flex;
    justify-content: space-around;
    background: $white;
    border: 1px solid $white;
    border-radius: rem(5px);
    padding: rem(15px);
    @include marginX(20px);
    margin-top: rem(50px);
    margin-bottom: rem(30px);
  }
  @include mobile {
    &-nav-list {
      display: block;
      right: -100%;
      transition: all 350ms ease-in-out;
      position: relative;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      &.is-active {
        right: 0;
        transform: none;
      }
    }
  }

  @include tablet {
    &-nav-list {
      display: block;
      right: -100%;
      transition: all 350ms ease-in-out;
      position: relative;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      &.is-active {
        transform: translateX(-100%);
        transform: none;
      }
    }
  }

  &-nav__item {
    cursor: pointer;
  }

  &-nav__button {
    position: relative;
    padding: rem(20px);
    @include marginX(10px);
    text-transform: uppercase;
    @include font-16px-B;
    width: 100%;
    text-align: left;
    height: rem(50px);

    img {
      position: absolute;
      right: rem(30px);
      transition: all 200ms ease-in-out;
    }

    &.is-active {
      img {
        transform: rotate(-180deg);
        transition-property: all;
        transition-duration: 0.2s;
      }
    }
  }

  .button--burger {
    position: absolute;
    padding: rem(15px);
    top: rem(20px);
    right: rem(5px);

    &__top,
    &__middle,
    &__bottom {
      transition: all 200ms;
    }
  }

  .button--burger.is-active {
    .button--burger__top {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
    .button--burger__middle {
      transform: translate(-150%, -50%);
    }
    .button--burger__bottom {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  .sub-menu {
    display: none;
    @include paddingX(15px);
    background: $white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    @include mobile {
      width: 93%;
    }
    @include tablet {
      width: 95.5%;
    }

    transform: translateX(20px);
    border-radius: 10px;
    @include font-14px-B;

    li {
      @include paddingY(10px);
      border-bottom: 1px solid $white-gray;
    }

    li:last-child {
      border-bottom: 0;
    }

    &.is-active {
      display: block;
    }
  }

  @include desktop {
    @include flexbox;
    position: fixed;
    &__title {
      margin-bottom: 0;
    }
    &-nav img {
      transform: translateY(rem(2px));
    }

    .logo img {
      transform: translateY(rem(10px));
    }

    .login {
      margin-right: rem(20px);
    }

    &-layout {
      @include flexbox($justify: space-between, $wrap: wrap);
      width: 100vw;
      padding-left: 10vw;
      padding-right: 10vw;
    }

    .member-service {
      padding-top: rem(5px);
      background: inherit;
      border: none;
      order: 1;
      @include paddingX(15);
      margin: 0;
    }

    .login,
    .signup {
      img {
        display: inline;
        transform: translateY(rem(5px));
      }
    }

    .sub-menu {
      display: none;
      overflow-y: hidden;
      position: absolute;
      transform: translateX(-40px);
      width: rem(230px);
    }

    &-nav-list {
      @include flexbox;

      &.is-active {
        @include flexbox;
        height: max-content;
        width: 100vw;
        position: static;
        overflow: hidden;
      }
    }

    .nav-menu {
      flex: 1;
      justify-content: flex-end;
      white-space: nowrap;
    }

    &-nav__item:first-child {
      order: 1;
    }

    &-nav__button {
      img {
        position: static;
        padding: rem(5px);
        background: blue;
      }
    }

    &-members,
    &-nav {
      display: block;
    }
  }
}
